html {
    margin: 0;
    border-top: 2cm;
}
body {
    background-color: lightblue; 
    font-family: Verdana, sans-serif; 
    font-size: 100%;
    border: 5px green solid;
  
    }
  nav{
    background-color: rgb(188, 224, 24);
  }
  a {
    color: hotpink;
  }
  a:visited {
    color: green;
  }
  a:hover {
    color: rgb(128, 105, 255);
  }
  li {
    border-right: 1px solid #f70909;
}
li:last-child {
    border-right: none;
}